# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
*.env
.env.*
.envrc
*.sqlite3

# Virtual envs
venv/
.venv/
env/
ENV/
pip-wheel-metadata/
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# --- Terraform ---
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
terraform.tfvars
*.auto.tfvars     # ignore sensitive variable files

# --- Lambda Build ---
lambda.zip
target/
build/
package/

# --- VSCode / IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db
secrets.auto.tfvars
