name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f rag_endpoint/Dockerfile \
            -t rav_endpoint \
            . \
            --platform linux/amd64

      - name: Tag Docker image
        run: |
          docker tag rav_endpoint ravprojectdev/rav_endpoint:latest

      - name: Push Docker image
        run: |
          docker push ravprojectdev/rav_endpoint:latest

      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
